// Defines style for layout elements
//Common styles
body {
    background-color: black;
}
p {
    font-family: $f-secondary;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $f-primary;
}
header {
    overflow: hidden;
    position: relative;
    &:after {
	    content:'';
	    background: url(../images/rugged-header.svg);
	    background-repeat: no-repeat;
		background-size: 110%;
		background-position-x: -20px;
        position: absolute;
        display: block;
	    //left: -10px;
	    bottom: 0;
	    width: 100%;
	    height: 28px;
	    @include break (mobile) {bottom:13px;}
    }
}

body.grill-page,
body.sponsors-page,
body.tackle-page,
body.bio-page,
body.recipe-page {
    header {
        height: 561px;
        background: black;
        &:after {
		  content: '';
		  background: url(../images/rugged-header.svg);
		  background-repeat: no-repeat;
		  background-size: 100%;
		  display: block;
		  left: -10px;
		  width: 110%;
		  height: 28px;
		  @include break (mobile) {bottom:-20px;}
		}
        @include break(tablet) {
            height: 345px;
        }
        @include break(v-tablet) {
            height: 300px;
        }
        @include break(mobile) {
            height: 400px;
        }
        @include break(v-mobile) {
            height: 300px;
        }
        @include break(mobile) {
            .header-image {
                -webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)))
            }
            ;
        }
    }
    .inner-wrapper {
        width: 85%;
        h2 {
            color: lighten($grey, 10%);
        }
    }
}

.header-image {width: 100%;}

.wrapper {
    //width: 1280px;
    background-color: $white;
    margin: 0 auto;
    @include break(tablet) {
        width: 100%;
    }
}
.inner-wrapper {
    width: 75%;
    margin: 0 auto;
    img {width: 100%;}
    @include break(tablet) {
        width: 90%;
    }
    @include break(v-tablet) {
        width: 100%;
    }
}
.full-width {
    width: 100%;
}
nav {
    background: $trans-red;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1000;
    @include break(v-tablet) {
        height: 80px;
    }
    @include break(v-tablet) {position:relative;}
    .logo {
        float: left;
        margin: 18px 2em 0 2em;
        //@include break(mobile) {margin: 0 1em;}
        @include break(v-tablet) {display: none;};
    }
    ul {
        margin: 0;
        padding: 0;
        @include break(v-tablet) {
            display: none;
        }
        @include break(mobile) {
            display: none;
        }
    }
    li {
        display: inline-block;
        list-style: none;
        text-transform: uppercase;
        text-align: center;
        padding: 0 1em;
        margin: 0;
        //margin-left: -5px;
        @include transitions();
        &:hover {
            background-color: darken($red, 10%);
        }
        &:last-child:hover {
            background: transparent;
        }
        &:last-child {
            float: right;
            margin-right: 1em;
            @include break(v-tablet) {
                float: none;
            }
        }
        & a {
            display: inline-block;
            line-height: 80px;
            color: $white;
            //background: $trans-red;
            text-decoration: none;
            font-family: $f-primary;
            font-weight: 500;
            letter-spacing: 0.03em;
            font-size: 1.35rem;
            width: 100%;
			/* Diagonals on main nav
            &:before {
                content: '';
                width: 0;
                height: 0;
                border-top: 0 solid transparent;
                border-bottom: 80px solid transparent;
                border-left: 30px solid #B91942;
                top: -44px;
                left: -11px;
                position: relative;
            }
            &:after {
                content: '';
                width: 0;
                height: 0;
                border-top: 80px solid transparent;
                border-bottom: 0px solid transparent;
                border-right: 30px solid #B91942;
                top: 44px;
                left: 11px;
                position: relative;
            }
			*/
        }
    }
    .home {
        display: inline-block;
        height: 41px;
        width: 171px;
        text-indent: -4000px;
        background-image: url(../images/logo_scroggins.png);
        background-repeat: no-repeat;
    }
}
section,
article {
    p {
        font-family: $f-secondary;
        color: $dark-grey;
        line-height: 2em;
        font-size: 1.25em;
    }
    h2 {
        text-transform: uppercase;
        font-size: 3rem;
        letter-spacing: .15rem;
        font-family: $f-secondary;
        color: $dark-grey;
    }
    a {
        font-family: $f-secondary;
        color: $red;
        text-decoration: none;
        @include transitions();
        &:hover {
            color: darken($red, 10%);
            background-color: $light-grey;
        }
    }
}

body.bio-page,
body.recipe-page {
	.inner-wrapper {
		padding: 4em 0;
	li {
		font-family: $f-secondary;
        color: $dark-grey;
        line-height: 2em;
        font-size: 1.25em;
        }
		}
	h2 {
		text-align: center;
		margin-bottom: 2em;
            &:after {
                content: '';
                width: 60px;
                height: 4px;
                background: #be1742;
                position: relative;
                bottom: -30px;
                display: block;
                margin: 0 auto;
            }
        }
}

footer {
    color: white;
    height: 230px;
    padding: 0 2em;
    background-color: black;
    @include break(v-tablet) {
        padding-top: 2em;
    }
    li {
        display: inline-block;
        margin: 0 1rem;
        //@include break(v-tablet) {top:-40px;}
        @include break(v-tablet) {
            display: block;
            text-align: center;
        }
        a {
            color: white;
            text-decoration: none;
            background-color: black;
            padding: 1em;
            text-transform: uppercase;
            font-size: 1.45rem;
            font-family: $f-primary;
            font-weight: 400;
            vertical-align: middle;
            line-height: 230px;
            @include break(v-tablet) {
                line-height: 60px;
            }
            @include transitions();
            &:hover {
                background-color: lighten($black, 10%);
            }
        }
    }
}
#scroll-top-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: $dark-grey;
    color: white;
    text-align: center;
    a {
        display: block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        color: white;
    }
    &:before {
        background-color: white;
        display: none;
        content: "Go to top";
        text-transform: uppercase;
        position: absolute;
        right: 100%;
        line-height: 50px;
        color: $dark-grey;
        white-space: nowrap;
        padding: 0 1rem;
        font-size: .8rem;
        font-weight: 700;
    }
    &:hover:before {
        display: block;
    }
    @include break(mobile) {
        bottom: 25px;
        right: 25px;
    }
}
// CSS style to position the placeholder element at the top of the page and making it unobtrusive
#top {
    padding: 0px;
    margin: 0px;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0px;
}
.inner-slider {
    position: relative;
    top: -380px;
    left: 100px;
    @include break(v-tablet) {
        top: -230px;
    }
    @include break(mobile) {
        top: -45px;
        left: 0;
        text-align: center;
        width: 100%;
    }
    img {
        width: inherit!important;
        margin-bottom: .5em;
        //@include break(v-tablet) {display: block;}
        @include break(mobile) {
            //margin: 0 auto;
            width: initial!important;
            -webkit-mask-image: -webkit-gradient(linear, left 0%, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 1)));
        }
    }
    h3 {
        color: white;
        font-weight: 600;
        font-size: 4em;
        font-family: $f-primary;
        text-transform: uppercase;
        @include break(tablet) {
            font-size: 3em;
        }
        @include break(v-tablet) {
            font-size: 2.5em;
        }
        @include break(mobile) {
            margin-top: .25em;
            font-size: 3em;
        }
    }
    a {
        background: $red;
        padding: 10px 16px;
        color: white;
        font-family: $f-primary;
        text-decoration: none;
        font-weight: 400;
        @include transitions();
        &:hover {
            background-color: darken($red, 10%);
        }
    }
}
