$f-primary: 'Roboto',Helvetica,Arial,sans-serif;
$f-secondary: 'Open Sans',Helvetica,Arial,sans-serif;

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../../js/lib/slick/fonts/slick.eot');
    src: url('../../js/lib/slick/fonts/slick.eot?#iefix') format('embedded-opentype'), url('../../js/lib/slick/fonts/slick.woff') format('woff'), url('../../js/lib/slick/fonts/slick.ttf') format('truetype'), url('../../js/lib/slick/fonts/slick.svg#slick') format('svg');
}